In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

# visualization
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# read file
import time
start_time=time.time()
df=pd.read_csv("yelp_review.csv", nrows=50000)
end_time=time.time()
print("Took",end_time-start_time,"s")

Took 0.4979710578918457 s

In [3]:
df.shape

(50000, 9)

In [4]:
df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [5]:
df.tail()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
49995,cBGDTClRcLzCmf7dsc09uw,VGDVve2DaK1vpa1Vv9rhfg,dL8678EqgOvovCaK31tSrQ,5,2014-08-12,This is an awesome consignment store! They hav...,2,0,0
49996,DKwuPbCtgZaOQoQjLlO_jg,VGDVve2DaK1vpa1Vv9rhfg,U6P56MjLrraN0JBNvOjxaA,5,2015-08-28,Awesome laid back atmosphere with made-to-orde...,0,0,0
49997,jLLJ713ggf1FT4Ht1x5dng,VGDVve2DaK1vpa1Vv9rhfg,nR0wEg9cKG2byr3QINlFrg,5,2016-04-14,Today was my first appointment and I can hones...,0,0,0
49998,kYZDKmP84_r3NXQ_3cfPeQ,VGDVve2DaK1vpa1Vv9rhfg,CP_2DNTqoCT_h_6r-9YJLA,5,2016-03-17,I love this chic salon. They use the best prod...,0,0,0
49999,7L-U0JDTre5DhExFOVmdiw,VGDVve2DaK1vpa1Vv9rhfg,Xg5qEQiB-7L6kGJ5F4K3bQ,5,2016-01-27,This place is delicious. All their meats and s...,1,0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
review_id      50000 non-null object
user_id        50000 non-null object
business_id    50000 non-null object
stars          50000 non-null int64
date           50000 non-null object
text           50000 non-null object
useful         50000 non-null int64
funny          50000 non-null int64
cool           50000 non-null int64
dtypes: int64(4), object(5)
memory usage: 3.4+ MB

In [7]:
df['text'][0]

"Super simple place but amazing nonetheless. It's been around since the 30's and they still serve the same thing they started with: a bologna and salami sandwich with mustard. \n\nStaff was very helpful and friendly."

In [8]:
review = df['text']
review.head()

0    Super simple place but amazing nonetheless. It...
1    Small unassuming place that changes their menu...
2    Lester's is located in a beautiful neighborhoo...
3    Love coming here. Yes the place always needs t...
4    Had their chocolate almond croissant and it wa...
Name: text, dtype: object

In [9]:
stars = df['stars']
stars.head()

0    5
1    5
2    5
3    4
4    4
Name: stars, dtype: int64

In [10]:
stars.value_counts()

5    20187
4    12876
3     6527
1     6263
2     4147
Name: stars, dtype: int64

In [ ]:
#Get the distribution of the ratings
stars=stars.value_counts()
stars=stars.sort_index()

#plot
plt.figure(figsize=(8,4))
ax= sns.barplot(stars.index, stars.values, alpha=0.8)
plt.title("Star Rating Distribution")
plt.ylabel('# of reviews')
plt.xlabel('Star Ratings ')
plt.show()

# Cleaning the texts
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

corpus = []
for i in range(0, num_reviews):
    if( (i+1)%1000 == 0 ):
        print ("Review %d of %d\n" % ( i+1, num_reviews )   )  
    review = re.sub('[^a-zA-Z]', ' ', review_text[i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [11]:
# from bs4 import BeautifulSoup             
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer


def clean_text( raw_review ):
    # Function to convert a raw review to a string of words
    # The input is a single string (a raw yelp review), and 
    # the output is a single string (a preprocessed yelp review)
    #
    # 1. Remove non-letters        
    letters_only = re.sub("[^a-zA-Z]", " ", raw_review) 
    #
    # 2. Convert to lower case, split into individual words
    words = letters_only.lower().split()                             
    #
    # 3. In Python, searching a set is much faster than searching
    #   a list, so convert the stop words to a set
    stops = set(stopwords.words("english"))  
    # 
    # 4. Remove stop words
    meaningful_words = [w for w in words if not w in stops]   
    #
    # 5. Stemming the words (SnowballStemmer)
    sb = SnowballStemmer("english")
    stem_words = [sb.stem(m) for m in meaningful_words]
    #
    # 6. Join the words back into one string separated by space, 
    # and return the result.
    return( " ".join( stem_words ))

In [12]:
clean_review = clean_text( review[0] )
clean_review

'super simpl place amaz nonetheless around sinc still serv thing start bologna salami sandwich mustard staff help friend'

In [13]:
num_reviews = len(review)
num_reviews

50000

In [18]:
print("Cleaning text...\n")
clean_reviews = []
for i in range( 0, num_reviews ):
    # If the index is evenly divisible by 5000, print a message
    if( (i+1)%5000 == 0 ):
        print ("Review %d of %d\n" % ( i+1, num_reviews )   )                                                                 
    clean_reviews.append( clean_text( review[i] ))

Cleaning and parsing the training set movie reviews...

Review 5000 of 50000

Review 10000 of 50000

Review 15000 of 50000

Review 20000 of 50000

Review 25000 of 50000

Review 30000 of 50000

Review 35000 of 50000

Review 40000 of 50000

Review 45000 of 50000

Review 50000 of 50000

In [19]:
clean_reviews[0]

'super simpl place amaz nonetheless around sinc still serv thing start bologna salami sandwich mustard staff help friend'

## Split Data

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(clean_reviews, stars, test_size = 0.20, random_state = 0)

## Feature Extraction

In [ ]:
print ("Creating the bag of words...\n")
from sklearn.feature_extraction.text import CountVectorizer

# Initialize the "CountVectorizer" object, which is scikit-learn's
# bag of words tool.  
vectorizer = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None,   \
                             max_features = 100000) 

# fit_transform() does two functions: First, it fits the model
# and learns the vocabulary; second, it transforms our training data
# into feature vectors. The input to fit_transform should be a list of 
# strings.
train_data_features = vectorizer.fit_transform(clean_train_reviews)

# Numpy arrays are easy to work with, so convert the result to an 
# array
train_data_features = train_data_features.toarray()

In [35]:
# Import TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# create the transform
vectorizer = TfidfVectorizer(analyzer = 'char_wb', ngram_range=(5,5)) 

#tokenize and encode document
tfidf_vec = vectorizer.fit_transform(X_train)

# Numpy arrays are easy to work with, so convert the result to an 
# array
tfidf_vec.shape

(40000, 86377)

## Build Classifier

In [36]:
# Support Vector Machine
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline

# build pipeline
classifier_svm = Pipeline([('tfidf_vec', vectorizer), ('svm', SGDClassifier(loss='hinge', penalty='l2', alpha=1e-3, random_state=42, max_iter=5, tol=None))])
classifier_svm.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier_svm.predict(X_test)

## Evaluation

In [37]:
# Maing the classification report
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          1       0.60      0.71      0.65      1268
          2       0.41      0.06      0.10       793
          3       0.53      0.13      0.21      1286
          4       0.45      0.16      0.24      2596
          5       0.55      0.97      0.70      4057

avg / total       0.52      0.55      0.47     10000

In [38]:
# Making the confusion Matrix
metrics.confusion_matrix(y_test, y_pred)

array([[ 900,   11,   10,   13,  334],
       [ 317,   47,   76,   67,  286],
       [ 184,   43,  173,  345,  541],
       [  59,   12,   58,  427, 2040],
       [  28,    3,   12,   87, 3927]])